#wrapper {
    transition: all 0.5s ease;
    padding-left: 0;
}
#wrapper.toggled {padding-left: 250px;}
#sidebar-wrapper {
    transition: all 0.5s ease;
    margin-left: -250px;
    position: fixed;
    z-index: 1000;
    left: 250px;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    overflow-x: hidden;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    position: absolute;
    width: 100%;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
    list-style: none;
    width: 250px;
    margin: 0;
    padding: 0;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 5px;
}
.sidebar-nav li a {
    text-decoration: none;
    display: block;
    color: #818181;
    font-size: 15px;
    font-weight: bold;
}
.sidebar-nav li a i {
    margin-right: 3px;
    font-size: 18px;
    width: 23px;
}
.sidebar-nav li a i.fa-male,
.sidebar-nav li a i.fa-cog,
.sidebar-nav li a i.fa-home {font-size: 20px;}
.sidebar-nav li a i.fa-calendar-times-o,
.sidebar-nav li a i.fa-university,
.sidebar-nav li a i.fa-calculator,
.sidebar-nav li a i.fa-bar-chart,
.sidebar-nav li a i.fa-database,
.sidebar-nav li a i.fa-money,
.sidebar-nav li a i.fa-users {font-size: 17px;}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: #ECEFF4;
}
.sidebar-nav li a:hover i{color: #00A8FF;}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    text-align: center;
    font-weight: bold;
    height: 65px;
    font-size: 26px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #333;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}
.sidebar-nav li.active a {
    background: #ECEFF4;
    color: #333;
}
.sidebar-nav li.active a i {color: #00A8FF;}
.sidebar-nav li.active > ul.collapse {
    display: block;
}
.sidebar-nav li.active > ul.collapse li a {
    padding-left: 25px;
}
.collapse {overflow: hidden;}